.row
  .span7
    - @img_array.each do |img|
      .select-image.draggable
        = image_tag img, :class => 'image'
        %select.category-select
          = options_from_collection_for_select(@category, :id, :name)
  .span10
    - @category.each do |category|
      %div{:class => "category #{category.name}", :id => "#{category.id}"}
        %h3
        = category.name
        %span.btn.btn-primary.send-images
          Add this images
