.row
  %ul.parse-list
    - @img_array.each do |img|
      %li.select-image.draggable
        = image_tag img[0], :class => 'image'
        %input{:value => "#{img[1]}", :class => 'title-image' }
        %span.select-category
          Select category
        %ul.category-select-list
          - @category.each do |category|
            %li.category-select-name
              = category.name
  #parse-category
    - @category.each do |category|
      %div{:class => "categories-parse #{category.name}", :id => "#{category.id}"}
        %h3
          Category:
          = category.name
        %button.send-images
          Add this images