.row
  .span9.images-container
    %h3.category-name
      = t('.category_name')
      = @category.name.capitalize
      %small
        (
        = @category.images_count
        )
    .sort
      = link_to category_path(@category.id, :comment => 'comment'), :class => 'btn btn-info'  do
        = t('.sorted_comment')
        %i.icon-comment
      = link_to category_path(@category.id), :class => 'btn btn-danger' do
        = t('.sorted_like')
        %i.icon-thumbs-up
    #images
      = render 'images/images'
    = paginate @images, :remote => true
  .span3
    - user_id = current_user ? current_user.id : nil
    - cache "category-caches#{user_id}" do
      #sidebar
        - @categories.each do |category|
          .subscribe-block{:id => category.id}
            = category.name.capitalize
            %small
              (
              = category.images_count
              )
            - if @subscribe && !@subscribe.where(:category_id => category.id).blank?
              .subscribe.describe
            - else
              .subscribe