.row
  .span9.images-container
    .sort
      = link_to root_path(:comment => 'comment'), :class => 'btn btn-info'  do
        = t('.sorted_comment')
        %i.icon-comment
      = link_to root_path, :class => 'btn btn-danger' do
        = t('.sorted_like')
        %i.icon-thumbs-up

    #images
      = render 'images'
    = paginate @images, :remote => true
  .span3
    - user_id = current_user ? current_user.id : nil
    - cache "categories-caches#{user_id}" do
      #sidebar
        = search_form_for @search, :class => 'form-search' do |f|
          .input-append
            = f.text_field :title_cont, :class => 'span2 search-query'
            %button.btn.btn-success{:type => 'submit'} Search
        - @categories.each do |category|
          .subscribe-block{:id => category.id}
            = category.name.capitalize
            %small
              (
              = category.images_count
              )

            - if !@subscribe.where(:category_id => category.id).blank?
              .subscribe.describe
            - else
              .subscribe

