.row
  .span6
    - user_id = current_user ? current_user.id : nil
    - cache "image#{user_id}#{@image.id}" do
      .show-image
        = image_tag @image.url
        - if current_user
          .like-block
            %span.count-like
              = @image.likes_count
            - if current_user.likes.where(:image_id => @image.id).blank?
              .likes{:id => @image.id}
            - else
              .likes.dislike{:id => @image.id}
  .span6
    #comments
      %h3
        Comments
      = render 'comments/comments'
    = paginate @comments, :remote => true
    .comment-form
      = form_for [@image, Comment.new], :remote => true, :html => {:class => 'form-inline'} do |f|
        .input-append
          = f.text_area :body, :placeholder => 'Message'
          = f.submit 'Add comment', class: 'btn btn-primary pull-right', id: 'comment-button'
