!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Gallery"
      %meta{:content => content_for?(:description) ? yield(:description) : "Gallery", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #pusher-comment
      %i.icon-remove.pull-right
      .pusher-content
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          - cache 'layouts-navigation' do
            = render 'layouts/navigation'
          = link_to '/auth/facebook', :class => 'facebook pull-right' do
            = image_tag '/login-with-facebook.png', :alt => 'Facebook'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              - cache 'layout-menu' do
                = render 'menu/menu'
              = yield
    %footer
      .container
        %p
          = t('.footer_info')